*{
    margin: 0;
    padding: 0;
}


section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.btnEnviar{
    width: 10vw;
    background-color: rgb(194, 255, 255);
    border: none;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 425px) {
    label{
        font-size: 14px;
    }
    .btnEnviar{
        width: 15vw;
        margin-top: 10px;
    }
    p{
        margin-top: 10px;
    }
}

@media (max-width: 320px) {
    label{
        font-size: 12px;
    }
    .btnEnviar{
        width: 20vw;
        margin-top: 10px;
    }
    p{
        margin-top: 10px;
        font-size: 15px;
    }
}